Header section:
1.nav bar
2.proper name of website(logo)
3.Slider with button and text
4.Meaningful text

Courses Section:
4. 6 courses section 

optional section
Explore 

frequently asked question section:
5.Minimum 4 questions
footer section
6.at least 3 social media icons
make responsive

mobile:
7.collapsable navbar
 
Bonus Marks

Ready to join section
8.clickablebutton pop up modal
9.Reasonable question answers
10.4 questions :
what is the differrnece between flexbox and grid
bootstrap vs tailwind
what is css box model?
what is semantic tags?
11.companies section only visible in desktop.
only one frame-work
12.6 commits in github
 